html {
	margin: auto;
	position: relative;
}

body {
	font-family: "Myriad Pro", Helvetica, sans-serif;
}

header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

.nav-justified {
	margin-bottom: 15px;
	padding-bottom: 15px;
}	

.nav-justified li a,
.nav-justified li a:hover {
	color: black;
}

.blurb {
	margin-top: 70px;
	margin-bottom: 20px;
	text-align: center;
}

.button {
	text-align: center;
}

#socialmedia {
	text-align: center;
	background-color: #333;
	margin-top: 70px;
	padding-bottom: 70px;
	padding-top: 50px;
	color: #FFFFFF;
}

.pad-column {
	padding: 0px 10px 0px 10px;
}
